depends:
- 2-packages
actions:
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - enable
      - bluetooth
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - enable
      - libvirtd.service
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - enable
      - virtlogd.socket
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - enable
      - clamav-freshclam.service
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - enable
      - clamav-daemon
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - start
      - bluetooth 
  - action: command.run
    sudo: true
    command: systemctl 
    args:
      - start
      - xow 