depends:
  - 1-init
  - 2-packages
  - 3-services
  - 4-node
  - 4-python
  - 4-ruby
  - 5-terminal
actions:
  - action: command.run
    command: mkdir
    args:
      - "-p"
      - {{ user.home_dir }}/Wallpapers
  - action: directory.copy
    from: wallpapers
    to: {{ user.home_dir }}/Wallpapers